@use '../../styles/mixins';

.cart {
  margin: 60px auto;
  text-align: center;

  h2 {
    font-size: 3.6rem;
    font-weight: 700;
  }

  p {
    font-size: 2rem;
  }
  img {
    display: block;
    width: 300px;
    margin: 70px auto;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 1.8rem;
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  @include mixins.noselect();
  text-decoration: none;
  max-width: 220px;

  span {
    font-weight: 600;
    font-size: 1.8rem;
  }

  &:hover {
    background-color: #3d3d3d;
  }

  &:active {
    background-color: #3d3d3d;
    transform: translateY(1px);
  }
}
