/*
===============
===use

 @import 'styles/variables'
 
 color: $main-color;
 .button {
  color: $main-color;
 }


*/

$main-color: orange;

$screent-xxs: 320px;
$screen-xs: 550px;
$screen-sm: 850px;
$screen-md: 1030px;
$screen-lg: 1400px;
