.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 30px;

  h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 900;
  }

  p {
    font-size: 1.2rem;
    color: #7b7b7b;
  }

  img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
  }

  &:hover {
    p {
      color: darken($color: #7b7b7b, $amount: 10);
    }
  }
}
