@use '../../../styles/mixins';
@import '../../../styles/variables';

.cart {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: $main-color;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  @include mixins.noselect();

  &:hover {
    background-color: darken($color: $main-color, $amount: 8);
  }
  &:active {
    background-color: darken($color: $main-color, $amount: 12);
    transform: translateY(1px);
  }
  span {
    font-size: 1.6rem;
  }

  .count {
    margin-left: 10px;
  }
}

.delimiter {
  height: 25px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0 12px;
}

.icon {
  margin-right: 7px;
}
