.sort {
  position: relative;
}

.label {
  display: flex;
  align-items: center;
}

.label b,
span {
  font-size: 1.6rem;
}

.label b {
  margin: 0 6px;
}

.label span {
  color: orange;
  border-bottom: 1px dashed orange;
  cursor: pointer;
}

.popup {
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  margin-top: 15px;
  padding: 10px 0;
}

.popup li {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 12px 20px;
}

.active {
  color: orange;
  font-weight: 700;
}

.popup .active,
li:hover {
  background-color: #f4f4f4;
}
